# untracked files
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
dump_data
install-sh
liblpcnet.la
libtool
log
lpcnet-uninstalled.pc
lpcnet.pc
lpcnet_data-7d8d216.tar.gz
lpcnet_demo
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
package_version
src/.deps/
src/.dirstamp
src/.libs/
src/celt_lpc.lo
src/celt_lpc.o
src/ceps_codebooks.c
src/ceps_codebooks.lo
src/ceps_codebooks.o
src/common.lo
src/common.o
src/dump_data-celt_lpc.o
src/dump_data-ceps_codebooks.o
src/dump_data-common.o
src/dump_data-dump_data.o
src/dump_data-freq.o
src/dump_data-kiss_fft.o
src/dump_data-lpcnet_dec.o
src/dump_data-lpcnet_enc.o
src/dump_data-pitch.o
src/freq.lo
src/freq.o
src/kiss_fft.lo
src/kiss_fft.o
src/lpcnet.lo
src/lpcnet.o
src/lpcnet_dec.lo
src/lpcnet_dec.o
src/lpcnet_demo.o
src/lpcnet_enc.lo
src/lpcnet_enc.o
src/nnet.lo
src/nnet.o
src/nnet_data.c
src/nnet_data.h
src/nnet_data.lo
src/nnet_data.o
src/pitch.lo
src/pitch.o
stamp-h1
tags
egs/*
